<div style="text-align: center;">
    <h1>About Me!</h1>
</div>
<section class="all">
    <div class="about-text">
        <p>I am an aspiring software developer, that is passionate about programming. I plan on graduating from
            appalachian state university in spring 2024
            with a bachelors of computer science degree. Im eagar to be apart of a fantastic team and most of all to
            learn from them.
            I would love to take to take any opportunity your willing to give! </p>
    </div>
</section>