.contactContSplit {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.contactCont {
  flex: 1;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 2% 5% 3% 3%; 
  text-align: left;
}

.info {
  border: 2px solid #0554F2;
  padding: 2%;
  background-color: #0554F2;
  border-radius: 20px;
  color: white
}

.icons {
  color: "white";
  font-Size: 150%;
  border: 2px solid #0554F2;
  background-color: white;
  padding: 1%;
  border-radius: 10px;
  cursor: pointer;
}

.reviewCont {
  flex: 1;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 2.5%;
  text-align: left;
}

.anc {
  text-decoration: none;
  color: black;
}

p {
  font-size: large;
  padding: .5%;
}