.flexCont {
  display: flex;
  flex-direction: row;
  background-color: #F2F2F2;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.name {
  flex: 1;
  text-align: left;
  margin-left: 4%;
}

.iconsRight {
  display: flex;
  align-items: center;
  margin-right: 4%;
}

.icon {
  font-size: 140%;
  padding: 0.5rem; 
  cursor: pointer;
}

.anc {
  text-decoration: none;
  color: black;
}
