.anchorCont {
    display: flex;
    flex-direction: row;
    height: 8vh;
    background-Color: rgb(0, 189, 0);
    justify-content: center;
    align-items: center
};

.icon {
  flex: 1;
  display: flex;
  align-items: right
};

.symbol {
  flex: 1;
}
