@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(-10deg); }
  40% { transform: rotate(10deg); }
  60% { transform: rotate(-10deg); }
  80% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.homeStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
  text-align: center;
}

.image {
  width: 80%;
  height: auto;
  max-width: 600px;
  border-radius: 50%;
  margin: 0.5rem auto;
}

.text {
  animation: slideInFromLeft 1s ease-out forwards;
  margin-top: -1rem; 
  margin-bottom: 1rem;
}

.centering {
  animation: slideInFromRight 1s ease-out forwards;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.title {
  border: 2px solid #0554F2;
  padding: 1rem;
  color: white;
  background-color: #0554F2;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 1rem;
  width: auto;
}

.handStyle {
  width: 40px;
  height: auto;
  margin-right: 1rem;
  animation: wave 2s infinite;
}

.titleStyle {
  font-size: 1.5em;
}

h3 {
  font-size: 2em;
  margin: 0.5rem 0;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .homeStyle {
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  .image {
    margin-left: 2%;
    margin-top: 10%; 
    margin-bottom: 10%; 
    width: 100%;
    height: auto;
  }

  .text {
    flex: 1;
    padding-right: 4%;
    margin-top: -1rem; 
  }

  .centering {
    flex: 0.7;
    margin-top: -1rem; 
  }

  .title {
    width: fit-content;
    justify-content: left;
  }

  .titleStyle {
    font-size: 2em;
  }

  h3 {
    font-size: 3.5em;
  }

  p {
    font-size: 1.2em;
  }
}
