.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.homeStyle {
  flex: 1;
}

.expertiseStyle {
  flex: 1
}

.experianceStyle {
  flex: 1;
}

.contactStyle {
  flex: 1;
}

.workStyle {
  flex: 1;
}

.headerStyle {
  flex: 1;
}
